<template>
  <div class="dashboard text-left px-lg-5 px-sm-1">
    <b-container fluid>
      <b-row>
        <b-col sm="12" md="6" lg="3">
          <b-card
            class="d-card mb-3"
            :class="card.sales ? 'active' : 'inactive'"
            v-on:click="toggleSales()"
            footer-tag="footer"
          >
              <h4 class="card-title">
                  Sales 
                  <span v-b-tooltip.hover.right title="Tooltip title">
                    <b-icon-question-circle-fill class="text-blue-grey-100"></b-icon-question-circle-fill>
                  </span>
              </h4>
              <b-card-text>
                  <div class="row">
                      <div class="col-5">
                          <div class="d-flex h-100">
                              <span class="my-auto px-3 py-1 indigo rounded-span text-white">{{ sales.percent }} 
                                <b-icon-arrow-up v-if="sales.up"></b-icon-arrow-up>
                                <b-icon-arrow-down v-else></b-icon-arrow-down>
                              </span>
                          </div>
                      </div>
                      <div class="col-7 text-right">
                          <small class="text-muted">Lifetime Sales</small><br>
                          <span class="font-weight-bold f-s12rem"><span class="text-amber-500">P </span> {{ sales.lifetime }}</span> <br>

                          <small class="text-muted">Revenue Sales</small><br>
                          <span class="font-weight-bold f-s12rem"><span class="text-amber-500">P </span>{{ sales.revenue }}</span>
                      </div>
                  </div>
              </b-card-text>
              <template #footer>
                  <div class="d-flex w-100">
                    <small class="text-left d-flex w-50">Average Order Value</small>
                    <small class="text-right w-50"><span class="text-amber-500">P </span> {{ sales.average }}</small>
                  </div>
              </template>
          </b-card>
        </b-col>
        <b-col sm="12" md="6" lg="3">
          <b-card
            class="d-card mb-3"
            :class="card.engangement ? 'active' : 'inactive'"
            v-on:click="toggleEngagement()"
            footer-tag="footer"
          >
              <h4 class="card-title">
                  Engangement
              </h4>
              <b-card-text>
                  <div class="row">
                      <div class="col-5">
                          <div class="d-flex h-100">
                              <span class="my-auto px-3 py-1 green rounded-span text-white">{{ engangement.percent }} 
                                <b-icon-arrow-up v-if="engangement.up"></b-icon-arrow-up>
                                <b-icon-arrow-down v-else></b-icon-arrow-down>
                              </span>
                          </div>
                      </div>
                      <div class="col-7 text-right">
                          <small class="text-muted">Lifetime SMS Engangements</small><br>
                          <span class="font-weight-bold f-s12rem">{{ engangement.lifetime }}</span> <br>

                          <small class="text-muted">Daily Average</small><br>
                          <span class="font-weight-bold f-s12rem">{{ engangement.average }}</span>
                      </div>
                  </div>
              </b-card-text>
              <template #footer>
                  <div class="d-flex w-100">
                    <small class="text-left d-flex w-50">{{ engangement.description }}</small>
                  </div>
              </template>
          </b-card>
        </b-col>
        <b-col sm="12" md="6" lg="3">
          <b-card
            class="d-card mb-3"
            :class="card.acquisition ? 'active' : 'inactive'"
            v-on:click="toggleAcquisition()"
            footer-tag="footer"
          >
              <h4 class="card-title">
                  Acquisition
              </h4>
              <b-card-text>
                  <div class="row">
                      <div class="col-5">
                          <div class="d-flex h-100">
                              <span class="my-auto px-3 py-1 orange rounded-span text-white">{{ acquisition.percent }} 
                                <b-icon-arrow-up v-if="acquisition.up"></b-icon-arrow-up>
                                <b-icon-arrow-down v-else></b-icon-arrow-down>
                              </span>
                          </div>
                      </div>
                      <div class="col-7 text-right">
                          <small class="text-muted">Registered Users</small><br>
                          <span class="font-weight-bold f-s12rem">{{ acquisition.users }}</span> <br>

                          <small class="text-muted">Daily Average</small><br>
                          <span class="font-weight-bold f-s12rem">{{ acquisition.average }}</span>
                      </div>
                  </div>
              </b-card-text>
              <template #footer>
                  <div class="d-flex w-100">
                    <small class="text-left d-flex w-50">{{ acquisition.description }}</small>
                  </div>
              </template>
          </b-card>
        </b-col>
        <b-col sm="12" md="6" lg="3">
          <b-card
            class="d-card mb-3"
            :class="card.rewards ? 'active' : 'inactive'"
            v-on:click="toggleRewards()"
            footer-tag="footer"
          >
              <h4 class="card-title">
                  Rewards Program
              </h4>
              <b-card-text>
                  <div class="row">
                      <div class="col-5">
                          <div class="d-flex h-100">
                              <span class="my-auto px-3 py-1 purple rounded-span text-white">{{ rewards.percent }} 
                                <b-icon-arrow-up v-if="rewards.up"></b-icon-arrow-up>
                                <b-icon-arrow-down v-else></b-icon-arrow-down>
                              </span>
                          </div>
                      </div>
                      <div class="col-7 text-right">
                          <small class="text-muted">Redeemed Rewards</small><br>
                          <span class="font-weight-bold f-s12rem">{{ rewards.redeemed }}</span> <br>

                          <small class="text-muted">Issued Rewards</small><br>
                          <span class="font-weight-bold f-s12rem">{{ rewards.issued }}</span>
                      </div>
                  </div>
              </b-card-text>
              <template #footer>
                  <div class="d-flex w-100">
                    <small class="text-left d-flex w-50">{{ rewards.description }}</small>
                  </div>
              </template>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
    <b-container fluid>
      <b-row>
        <b-col sm="12" md="4" lg="2">
          <b-form-select v-model="date.range" :options="date.options" 
                class="form-control"
                v-on:change="updateDateRange"
            ></b-form-select>
        </b-col>
        <b-col sm="12" md="4" lg="3">
          <template>
            <div>
              <div class="datepicker-trigger">
                <input
                    readonly
                    class="form-control py-mob-1"
                    type="text"
                    id="datepicker-trigger"
                    placeholder="Select dates"
                    :value="formatDates(dateOne, dateTwo)"
                >

                <AirbnbStyleDatepicker
                    :trigger-element-id="'datepicker-trigger'"
                    :mode="'range'"
                    :fullscreen-mobile="true"
                    :date-one="dateOne"
                    :date-two="dateTwo"
                    @date-one-selected="val => { dateOne = val }"
                    @date-two-selected="val => { dateTwo = val }"
                />
              </div>
            </div>
          </template>
          </b-col>
      </b-row>
    </b-container>
    <b-container fluid class="pt-3">
      <b-row>
        <b-col>
          <b-card
            class="mb-3"
            header-tag="header"
            footer-tag="footer"
          >
            <template #header>
              <b-row>
                <b-col sm="12" md="8" class="py-mob-1 my-auto py-0 font-weight-500">
                  Sales Overview
                  <span v-b-tooltip.hover.right title="Tooltip title">
                    <b-icon-question-circle-fill class="text-blue-grey-100"></b-icon-question-circle-fill>
                  </span>
                </b-col>
                <b-col sm="12" md="2" class="py-mob-1 py-md-0 py-lg-0">
                  <b-form-select v-model="transactions.value" :options="transactions.options" 
                      class="form-control"
                  ></b-form-select>
                </b-col>
                <b-col sm="12" md="2" class="py-mob-1 py-md-0 py-lg-0">
                  <b-form-select v-model="branches.value" :options="branches.options" 
                      class="form-control"
                  ></b-form-select>
                </b-col>
              </b-row>
            </template>
            <b-card-text>
                <b-row>
                  <b-col class="h-100 d-md-inline-flex d-sm-grid">
                    <span class="font-weight-500 font-s16 pull-left h-100 align-self-self-end pr-3" >Total</span>
                    <div class="d-flex">
                      <div class="px-1">
                        <label class="d-inline-block font-s12">Sales</label>
                        <div class="d-block">
                          <span class=" indigo p-1 rounded text-white font-s14">{{ overview.sales }}</span>
                        </div>
                      </div>
                      <div class="px-1">
                        <label class="d-inline-block font-s12">Revenue</label>
                        <div class="d-block">
                          <span class=" green p-1 rounded text-white font-s14">{{ overview.revenue }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex">
                      <div class="px-1">
                        <label class="d-inline-block font-s12">Generated Points</label>
                        <div class="d-block">
                          <span class=" purple p-1 rounded text-white font-s14">{{ overview.generated }}</span>
                        </div>
                      </div>
                      <div class="px-1">
                        <label class="d-inline-block font-s12">Used Points</label>
                        <div class="d-block">
                          <span class=" purple p-1 rounded text-white font-s14">{{ overview.used }}</span>
                        </div>
                      </div>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                    <bar-chart :label="chart.label"></bar-chart>
                </b-row>
            </b-card-text>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
    <b-container fluid class="pt-3">
      <b-row>
        <b-col sm="12" md="6">
          <b-card
            class="d-card mb-3"
            header-tag="div"
          >
            <template #header>
                <span class="font-weight-500">Branch Performance</span>
            </template>
            <b-card-text>
                <div class="row">
                  <b-col class="p-0">
                    <template>
                      <vuetable
                          ref="vuetable"
                          :api-mode="false"
                          :fields="branchFields"
                          :per-page="perPage"
                          :data-manager="branchDataMgr"
                          :css="{
                              tableClass: 'striped table fixed',
                              tableBodyClass: 'vuetable-semantic-no-top'
                            }"
                          pagination-path="pagination"
                          @vuetable:pagination-data="onBranchPagination"
                        >
                        <template slot="tableHeader">
                          <tr>
                            <th></th>
                            <th class="font-weight-400 text-grey">Branch</th>
                            <th class="text-right font-weight-400 text-grey">
                              Total Sales ( <span class="text-amber-500">P</span> )
                            </th>
                            <th></th>
                          </tr>
                        </template>

                      </vuetable>
                      <div style="padding-top:10px">
                        <vuetable-pagination
                          ref="pagination"
                          @vuetable-pagination:change-page="onBranchChangePage"
                        ></vuetable-pagination>
                      </div>

                    </template>
                  </b-col>
                </div>
            </b-card-text>
          </b-card>
        </b-col>
        <b-col sm="12" md="6">
          <b-card
            class="d-card mb-3"
            header-tag="div"
          >
            <template #header>
                <span class="font-weight-500">Rewards Performance</span>
            </template>
            <b-card-text>
                <div class="row">
                  <b-col class="p-0">
                    <template>
                      <vuetable
                          ref="vuetable2"
                          :api-mode="false"
                          :fields="rewardFields"
                          :per-page="perPage"
                          :data-manager="rewardDataMgr"
                          :css="{
                              tableClass: 'striped table fixed',
                              tableBodyClass: 'vuetable-semantic-no-top'
                            }"
                          pagination-path="pagination"
                          @vuetable:pagination-data="onRewardPagination"
                        >
                        <template slot="tableHeader">
                          <tr>
                            <th></th>
                            <th class="font-weight-400 text-grey">Badge</th>
                            <th class="text-right font-weight-400 text-grey">
                              Total Sales ( <span class="text-amber-500">P</span> )
                            </th>
                            <th></th>
                          </tr>
                        </template>

                      </vuetable>
                      <div style="padding-top:10px">
                        <vuetable-pagination
                          ref="pagination2"
                          @vuetable-pagination:change-page="onRewardChangePage"
                        ></vuetable-pagination>
                      </div>

                    </template>
                  </b-col>
                </div>
            </b-card-text>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import moment from 'moment'
import format from 'date-fns/format'
import BarChart from '@/components/BarChart'
import Vuetable from 'vuetable-2'
import VuetablePagination from "vuetable-2/src/components/VuetablePagination";
import _ from "lodash";
// import axios from "axios";

export default {
  name: 'DashboardView',
  components: {
    BarChart,
    Vuetable,
    VuetablePagination
  },
  data () {
    return {
      card: {
        sales:        false,
        engangement:  false,
        acquisition:  false,
        rewards:      false,
      },

      sales: {
        lifetime: '0',
        revenue:  '0',
        percent:  '0%',
        up:       true,
        average:  '0'
      }, 

      engangement: {
        lifetime: '0',
        average:  '0',
        percent:  '0%',
        up:       true,
        description:  '0% decrease in 0 days'
      },

      acquisition: {
        users: '0',
        average:  '0',
        percent:  '0%',
        up:       true,
        description:  '0% decrease in 0 days'
      },

      rewards: {
        redeemed: '0',
        issued:   '0',
        percent:  '0%',
        up:       true,
        description:  '0% decrease in 0 days'
      },

      date: {
        range: '7',
        options: [
          { value:  '7',  text: 'Last 7 Days'}, 
          { value:  '30', text: 'Last 30 Days'}, 
          { value:  'custom', text: 'Custom Date'} 
        ]
      }, 

      dateOne: '',
      dateTwo: '',
      dateFormat: 'D MMM YYYY',

      transactions: {
        value: 'all',
        options: [
          { value: 'all', text: 'All Transactions' }
        ]
      },

      branches: {
        value: 'all',
        options: [
          { value: 'all', text: 'All Branches' }
        ]
      },

      chart: {
        label: [],
        data: []
      },

      overview: {
        sales:    'Php 0.00',
        revenue:  'Php 0.00',
        generated: '0 Points',
        used:     '0 Points'
      },

      perPage: 5,
      branchData: [],
      branchFields: [
        {
              name: "row",
              sortField: "row",
              dataClass: "center aligned",
              title: "",
              width: "10%"

          }, {
              name: "branch",
              sortField: "branch",
              dataClass: "aligned",
              title: "Branch",
              width: "30%"
          }, {
              name: "sales",
              sortField: "sales",
              dataClass: "aligned text-right",
              title: "Total Sales",
              width: "35%"
          }, {
              sortField: "percent",
              dataClass: "aligned text-right",
              title: "",
              width: "25%",
              formatter: function (data) {
                let p = data.percent;
                p += (data.up ? 
                  ' <i class="icon ion-arrow-up-c text-green"></i>' :
                  ' <i class="icon ion-arrow-down-c text-grey"></i>');
                return p;
              }
          }, 
        ],

      rewardData: [],
      rewardFields: [
        {
            name: "row",
            sortField: "row",
            dataClass: "center aligned",
            title: "",
            width: "10%"

        }, {
            name: "badge",
            sortField: "branch",
            dataClass: "aligned",
            title: "Badge",
            width: "30%"
        }, {
            name: "sales",
            sortField: "sales",
            dataClass: "aligned text-right",
            title: "Total Sales",
            width: "35%"
        }, {
            sortField: "percent",
            dataClass: "aligned text-right",
            title: "",
            width: "25%",
            formatter: function (data) {
              let p = data.percent;
              p += (data.up ? 
                ' <i class="icon ion-arrow-up-c text-green"></i>' :
                ' <i class="icon ion-arrow-down-c text-grey"></i>');
              return p;
            }
        }, 
      ],
    }
  },
  watch: {
    dateOne () {
      let today = moment().format('LL');
      let lastWk = moment().subtract(6, 'days').format('LL');
      let lastMo = moment().subtract(29, 'days').format('LL');
      let d1 = moment(this.dateOne).format('LL');
      let d2 = moment(this.dateTwo).format('LL');
      
      if (d2 == today && d1 == lastWk) {
        this.date.range = '7';
      } else if (d2 == today && d1 == lastMo) {
        this.date.range = '30';
      } else {
        this.date.range = 'custom';
      }

      this.updateChartData();
    },
    dateTwo () {
      let today = moment().format('LL');
      let lastWk = moment().subtract(6, 'days').format('LL');
      let lastMo = moment().subtract(29, 'days').format('LL');
      let d1 = moment(this.dateOne).format('LL');
      let d2 = moment(this.dateTwo).format('LL');
      
      if (d2 == today && d1 == lastWk) {
        this.date.range = '7';
      } else if (d2 == today && d1 == lastMo) {
        this.date.range = '30';
      } else {
        this.date.range = 'custom';
      }

      this.updateChartData();
    },
    branchData() {
      this.$refs.vuetable.refresh();
    },
    rewardData() {
      this.$refs.vuetable2.refresh();
    },
  },
  mounted() {
    this.getAnalytics();
    this.updateDateRange();
    this.updateChartData();
    this.getOverview();
    this.getBranchData();
    this.getRewardData();
  },
  methods: {
    formatDates(dateOne, dateTwo) {
      let formattedDates = ''
      if (dateOne) {
        formattedDates = format(dateOne, this.dateFormat)
      }
      if (dateTwo) {
        formattedDates += ' - ' + format(dateTwo, this.dateFormat)
      }
      return formattedDates
    },
    toggleSales() {
      this.card.sales = !(this.card.sales)
    },
    toggleEngagement() {
      this.card.engangement = !(this.card.engangement)
    },
    toggleAcquisition() {
      this.card.acquisition = !(this.card.acquisition)
    },
    toggleRewards() {
      this.card.rewards = !(this.card.rewards)
    },
    getAnalytics() {
      let response = {
        sales: {
        lifetime: '175,000',
        revenue:  '170,000',
        percent:  '20%',
        up:       true,
        average:  '1,000.00'
      }, 

      engangement: {
        lifetime: '285',
        average:  '57',
        percent:  '20%',
        up:       false,
        description:  '20% decrease in 30 days'
      },

      acquisition: {
        users:    '285',
        average:  '57',
        percent:  '20%',
        up:       true,
        description:  '20% increase in 30 days'
      },

      rewards: {
        redeemed: '175,000',
        issued:   '175,000',
        percent:  '20%',
        up:       true,
        description:  '20% increase in 30 days'
      }
      }

      this.sales        = response.sales;
      this.engangement  = response.engangement;
      this.acquisition  = response.acquisition;
      this.rewards      = response.rewards;
    },
    updateDateRange() {
      let r = this.date.range;
      if (r != 'custom') {
        this.dateOne = moment().subtract((parseInt(r) - 1), 'days').format('LL');
        this.dateTwo = moment().format('LL');
      }
    },
    updateChartData() {
      let salesData = [];
      let revenueData = [];
      let label = [];
      let d1 = moment(this.dateOne).format("LL");
      let d2 = moment(this.dateTwo).format("LL");

      do {
        label.push(moment(d1).format('LL'));
        salesData.push(Math.floor(Math.random() * (50000 - 10000 + 1) + 10000));
        revenueData.push(Math.floor(Math.random() * (50000 - 10000 + 1) + 10000));

        d1 = moment(d1).add(1, 'days').format('LL');
      } while (d1 <= d2);

      this.chart.data = [
        {
          label: 'Sales',
          backgroundColor: '#819FFF',
          data: salesData
        },{
          label: 'Revenue',
          backgroundColor: '#58D0BE',
          data: revenueData
        }
      ];

      this.chart.label = label;
    },
    getOverview() {
      this.overview = {
        sales:    'Php 10,000.00',
        revenue:  'Php 10,000.00',
        generated:'1000 Points',
        used:     '1000 Points'
      }
    }, 
    getBranchData() {
      // axios.get("https://vuetable.ratiw.net/api/users").then(response => {
      //   this.branchData = response.data.data;
      // });
      this.branchData = [
        {
          row:    '1.',
          branch: 'Makati',
          sales:  '5,000.00',
          percent:'20%',
          up:     true
        },
        {
          row:    '2.',
          branch: 'BGC Taguig',
          sales:  '4,000.00',
          percent:'10.52%',
          up:     true
        },
        {
          row:    '3.',
          branch: 'Mall of Asia, Pasay',
          sales:  '3,000.00',
          percent:'8.39%',
          up:     true
        },
        {
          row:    '4.',
          branch: 'Quezon City',
          sales:  '2,000.00',
          percent:'5%',
          up:     false
        },
        {
          row:    '5.',
          branch: 'Greenhills',
          sales:  '1,000.00',
          percent:'2%',
          up:     true
        },
        {
          row:    '6.',
          branch: 'BGC Taguig',
          sales:  '4,000.00',
          percent:'10.52%',
          up:     true
        }
      ];
    },
    onBranchPagination(paginationData) {
      this.$refs.pagination.setPaginationData(paginationData);
    },
    onBranchChangePage(page) {
      this.$refs.vuetable.changePage(page);
    },
    branchDataMgr(sortOrder, pagination) {
      if (this.branchData.length < 1) return;
      let local = this.branchData;

      // sortOrder can be empty, so we have to check for that as well
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        );
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      );
      
      let from = pagination.from - 1;
      let to = from + this.perPage;

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      };
    },
    getRewardData() {
      // axios.get("https://vuetable.ratiw.net/api/users").then(response => {
      //   this.branchData = response.data.data;
      // });
      this.rewardData = [
        {
          row:    '1.',
          badge:  'Reward 1',
          sales:  '5,000.00',
          percent:'20%',
          up:     true
        },
        {
          row:    '2.',
          badge:  'Reward 2',
          sales:  '4,000.00',
          percent:'10.52%',
          up:     true
        },
        {
          row:    '3.',
          badge:  'Reward 3',
          sales:  '3,000.00',
          percent:'8.39%',
          up:     true
        },
        {
          row:    '4.',
          badge:  'Reward 4',
          sales:  '2,000.00',
          percent:'5%',
          up:     false
        },
        {
          row:    '5.',
          badge:  'Reward 5',
          sales:  '1,000.00',
          percent:'2%',
          up:     true
        },
        {
          row:    '6.',
          badge:  'Reward 6',
          sales:  '4,000.00',
          percent:'10.52%',
          up:     true
        }
      ];
    },
    onRewardPagination(paginationData) {
      this.$refs.pagination2.setPaginationData(paginationData);
    },
    onRewardChangePage(page) {
      this.$refs.vuetable2.changePage(page);
    },
    rewardDataMgr(sortOrder, pagination) {
      if (this.rewardData.length < 1) return;
      let local = this.rewardData;

      // sortOrder can be empty, so we have to check for that as well
      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        );
      }

      pagination = this.$refs.vuetable2.makePagination(
        local.length,
        this.perPage
      );
      
      let from = pagination.from - 1;
      let to = from + this.perPage;

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      };
    },
  }
}
</script>

<style>
  .dashboard {
    margin-top: 120px;
  }

  .text-right {
    text-align: right;
  }

  .text-left {
    text-align: left;
  }

  small, .small {
    font-size: 80% !important;
  }

  .border-grey {
    border: 1px lightgray;
  }

  .font-weight-500 {
    font-weight: 500;
  }

  .font-weight-400 {
    font-weight: 400 !important;
  }

  .rounded-span {
    border-radius: 40px;
  }

  .tooltip-inner {
    background-color: rgba(0,0,0,0.8) !important;
  }

  .font-s14 {
    font-size: 14px;
  }

  .font-s12 {
    font-size: 12px;
  }

  .font-s16 {
    font-size: 16px;
  }

  .align-self-self-end {
    align-self: self-end;
  }

  .pr-3 {
    padding-right: 1rem;
  }

  .vuetable th i {
    opacity: 0 !important;
  }

  thead {
    border: 0 !important;
  }
/* 
  .table > :not(:first-child) {
      border-top: 1px solid lightgrey !important;
  } */

  /* cards */
  /* .card-body {
    min-height: 180px;
  } */

  .card-title {
    text-align: left;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .card.inactive, .card.inactive footer {
    background-color: #F8FAF9 !important;
    color: #6B6D6C !important;
  }

  .card.active, .card.active footer {
    background-color: #fff !important;
    color: #333333 !important;
  }

  .card.active {
    box-shadow: rgb(127, 159, 253) 0px 0px 10px 5px;
  }

  /* background colors */
  .indigo {
    background-color: #859DFD;
  }

  .green {
    background-color: #90DDB9;
  }

  .orange {
    background-color: #F6C57C;
  }

  .purple {
    background-color: #CBA6E9;
  }

  /* text colors */
  .text-amber-500 {
    color: #ffc107;
  }

  .text-blue-grey-100 {
    color: #CFD8DC;
  }

  .text-green {
    color: #4caf50;
  }

  .text-grey {
    color: #546e7a !important;
  }

  .text-right {
    text-align: right !important;
  }

  @media only screen and (max-width: 600px) {
    .py-mob-1 {
      padding-top: 0.25rem !important;
      padding-bottom: 0.25rem !important;
    }

    .d-sm-grid {
      display: grid !important;
    }
  }
</style>