  <h1>{{ label }}</h1>

<script>
  import { Bar } from 'vue-chartjs'
  import moment from 'moment'

  export default {
    extends: Bar,
    prop: {
      label: Array
    },
    data() {
      return {
        chartData: {
          labels: [],
          datasets: [
              {
                label: 'Sales',
                backgroundColor: '#819FFF',
                data: [40, 39, 10, 40, 39, 80, 40]
              },{
                label: 'Revenue',
                backgroundColor: '#58D0BE',
                data: [60, 55, 32, 10, 2, 12, 53]
              }
            ]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              },
              gridLines: {
                display: true
              }
            }],
            xAxes: [{
              gridLines: {
                display: false
              }
            }]
          },
          legend: {
            display: true,
            position: 'top',
            align: 'end',
            labels: {
              boxWidth: 12,
              color: 'rgb(0, 0, 0)',
              textAlign: 'right'
            }
          },
          responsive: true,
          maintainAspectRatio: false,
          tooltips: {
            mode: 'index',
            custom: function (tooltipModel) {
              var tooltipEl = document.getElementById('chartjs-tooltip');

                // Create element on first render
                if (!tooltipEl) {
                    tooltipEl = document.createElement('div');
                    tooltipEl.id = 'chartjs-tooltip';
                    tooltipEl.innerHTML = "<table></table>"
                    document.body.appendChild(tooltipEl);
                }

                // Hide if no tooltip
                if (tooltipModel.opacity === 0) {
                    tooltipEl.style.opacity = 0;
                    return;
                }

                // Set caret Position
                tooltipEl.classList.remove('above', 'below', 'no-transform');
                if (tooltipModel.yAlign) {
                    tooltipEl.classList.add(tooltipModel.yAlign);
                } else {
                    tooltipEl.classList.add('no-transform');
                }

                function getBody(bodyItem) {
                    return bodyItem.lines;
                }

                // Set Text
                if (tooltipModel.body) {
                    var titleLines = tooltipModel.title || [];
                    var bodyLines = tooltipModel.body.map(getBody);

                    var innerHtml = '<thead>';

                    titleLines.forEach(function(title) {
                        innerHtml += '<tr><th>' + title + '</th></tr>';
                    });
                    innerHtml += '</thead><tbody>';

                    bodyLines.forEach(function(body, i) {
                        var colors = tooltipModel.labelColors[i];
                        var style = 'background:' + colors.backgroundColor;
                        style += '; border-color:' + colors.borderColor;
                        style += '; border-width: 2px';
                        var span = '<span class="chartjs-tooltip-key" style="' + style + '"></span>';
                        innerHtml += '<tr><td>' + span + body + '</td></tr>';
                    });
                    innerHtml += '</tbody>';

                    var tableRoot = tooltipEl.querySelector('table');
                    tableRoot.innerHTML = innerHtml;
                }

                // `this` will be the overall tooltip
                var position = this._chart.canvas.getBoundingClientRect();

                // Display, position, and set styles for font
                tooltipEl.style.opacity = 1;
                tooltipEl.style.left = position.left + tooltipModel.caretX + 'px';
                tooltipEl.style.top = position.top + tooltipModel.caretY + 'px';
                tooltipEl.style.fontFamily = tooltipModel._fontFamily;
                tooltipEl.style.fontSize = tooltipModel.fontSize;
                tooltipEl.style.width = '200px';
                tooltipEl.style.fontStyle = tooltipModel._fontStyle;
                tooltipEl.style.padding = tooltipModel.yPadding + 'px ' + tooltipModel.xPadding + 'px';
            }
          }
        }
      }
    },
    mounted() {
      this.renderChart(this.chartData, this.options)
    },
    beforeMount(){
      this.getDates();
    },
    watch: {
      label() {
        console.log("ACCEPT DATA PLS!!!")
      }
    },
    methods: {
      getDates: function () {
        let dates = [];
        for (let i = 6; i >= 0; i--) {
          dates.push(moment().subtract(i, 'days').format('MMM DD'))
        }
        this.chartData.labels = dates;  
      }
    },
  }
</script>