<template>
  <div>
    <div class="w-100 header d-flex px-lg-5 px-sm-1">
      <div class="d-flex align-items-center mr-auto">
        <b-icon-list></b-icon-list>
      </div>
      <div class="d-lg-flex d-flex align-items-center mx-auto d-md-flex d-sm-none d-xs-none">
        <span class="font-weight-bold">Kollab</span>
      </div>
      <div class="d-flex align-items-center ml-auto">
        <div class="d-flex w-20px h-20px p-2 blue-grey-200 rounded-circle font-s14">
          <b-icon-person-fill class="text-white"></b-icon-person-fill>
        </div>
        <span class="font-s14 px-2">Katrina</span>
        <b-icon-bell class="px-4 border-right-1 mr-3"></b-icon-bell>
        <b-icon-question-circle class="px-4 border-right-1 ml-3"></b-icon-question-circle>
      </div>
    </div>
    <div class="w-100 sub-header d-flex px-lg-5 px-sm-1">
      <div class="d-flex align-items-center mr-auto">
        <b-icon-pie-chart class="text-cyan-700"></b-icon-pie-chart>
        <span class="font-weight-500 px-2">Analytics</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HeaderFile'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  height: 50px;
}
.sub-header {
  position: fixed;
  top: 50px;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  height: 50px;
}

.white {
  background-color: #ffffff;
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-500 {
  font-weight: 500;
}

.font-s14 {
  font-size: 14px;
}

.blue-grey-200 {
  background-color: #b0bec5;
}

.text-cyan-700 {
  color: #0097a7;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mr-3 {
  margin-right: 1rem;
}

.border-right-1 {
  border-left: 1px solid #2C3E50;
}

@media only screen and (max-width: 425px) {
  .d-sm-none {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .header, .sub-header {
    padding: 15px !important;
  }
}
</style>
